@use "./variables";

@mixin nav-element($bg-color, $font-color) {
    background-color: $bg-color;
    color: $font-color;
    border-radius: 10px;
    height: 5em;
    box-shadow: 0 0 1px 1px $bg-color;
    vertical-align: middle;
    transition: all 200ms ease-in;
    text-align: center;
}
@mixin nav-element-hover($hover-color) {
    cursor: pointer;
    box-shadow: 0 0 2px 2px $hover-color;
    transform: scale(1.05);
    transition: all 200ms ease-in;
}
@mixin input($background-color, $width) {
    width: $width;
    height: 2em;
    font-weight: 700;
    background-color: $background-color;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    text-align: center;
    outline: none;
    transition: 200ms all ease-in;
}
@mixin input-focus {
    height: 2.5em;
    transition: 200ms all ease-in;
}
@mixin button($background-color, $font-color) {
    width: 10em;
    height: 3em;
    border-radius: 2em;
    background-color: $background-color;
    color: $font-color;
    transition: 200ms all ease-in;
}
@mixin button-hover($border-color) {
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 1px 1px $border-color;
    transition: 200ms all ease-in;
}
@mixin card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $pop_color;
    color: $font_color;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20vw;
    height: 15vh;
    border-radius: 10px;
    border: 1px solid $main_color;
    box-shadow: 0 0 1px 1px black;
    transition: all 200ms ease-in;
}
@mixin card-hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px $pop_color;
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
@mixin flex($flex-dirrection, $row-gap: 0px, $column-gap: 0px, $justify-content: default) {
    display: flex;
    flex-direction: $flex-dirrection;
    row-gap: $row-gap;
    column-gap: $column-gap;
    justify-content: $justify-content;
}