@use "./sections/header.scss";
@use "./sections/main.scss";
@import "./abstractions/variables";

html, body {
    margin: 0;
}
body {
    background-color: $main_color;
    color: $pop_color;
    font-family: 'Roboto';
}
.App {
    height: fit-content;
}