@use "../components/add-routes.scss";
@use "../components/list-view.scss";
@use "../components/project-task-form.scss";
@use "../components/userform.scss";
@use "../components/project-page.scss";
@import "../abstractions/mixins";
@import "../abstractions/variables";

.App {
    @include flex(row, 0px, 50px);
}
.main_outlet-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    height: fit-content;
}
.main_outlet-holder h1 {
    text-align: center;
}
