@import "../abstractions/variables";

.side-nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0 10px 0 10px;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 15vw;
    background-color: $variation;
    box-shadow: 0 0 5px 5px $variation;
}
.side-nav h1 {
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
}
.side-nav_nav-element {
    background-color: $main_color;
    border-radius: 10px;
    height: 5em;
    box-shadow: 0 0 1px 1px $main_color;
    vertical-align: middle;
    transition: all 200ms ease-in;
    text-align: center;
}
.side-nav_nav-element h3 {
    display: inline-block;
}
.side-nav_nav-element:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px $pop_color;
    transform: scale(1.05);
    transition: all 200ms ease-in;
}