@import "../abstractions/mixins";
@import "../abstractions/variables";

.card {
    @include card;
}
.complete {
    background-color: rgb(73, 138, 89);
}
.not-complete {
    background-color: $variation;
}
.card p {
    margin: 0;
}
.card h3 {
    margin: 0;
}
.card:hover {
    @include card-hover;
}
.list-view {
    @include flex(row, 2em, 2em, center);
    flex-wrap: wrap;
}