@import "../abstractions/variables";
@import "../abstractions/mixins";

.project-task-form {
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    padding: 75px;
    width: 25vw;
    height: fit-content;
    border-radius: 25px;
    border: 1px solid $variation;
    box-shadow: 0 0 1px 1px $variation;
    background-color: $pop-color;
    color: $font-color;
}
.project-task-form li {
    list-style: none;
    text-align: center;
}
.project-task-form ul {
    padding-inline-start: 0px;
}
.project-task-form h1 {
    text-align: center;
}
.project-task-form h4 {
    text-align: center;
}
.project-task-form p {
    text-align: center;
}
.project-task-form input {
    @include input($pop-color, 95%);
    margin: auto;
}

.project-task-form input:focus {
    @include input-focus;
}

.project-task-form .btn {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    @include button(green, $pop-color);
}
.project-task-form .btn:hover {
    @include button-hover(rgb(4, 37, 4));
}

.project-task-form textarea {
    width: 20vw;
    margin: auto;
    margin-top: 75px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
}
.project-task-form select {
    @include input($pop-color, 95%);
    margin: auto;
}
.project-task-form select:hover {
    @include button-hover(black);
}