@import "../abstractions/variables";
@import "../abstractions/mixins";

.project-holder {
    margin: 5% 5%;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px $variation;
    height: 90vh;
    width: 70vw;
    background-color: $pop-color;
    color: $main_color;
}
.details {
    @include flex(row, 0px, 10px);
    padding-left: 7vw;
}
.left-column p {
    padding-left: 1em;
    font-size: large;
}
.left-column {
    @include flex(column, 10px);
    width: 25%;
}
.right-column {
    @include flex(column, 5px);
    width: 75%;
}
.right-column_tasks {
    @include flex(row, 10px, 10px);
    flex-wrap: wrap;
}