@import "../abstractions/variables";
@import "../abstractions/mixins";

.side-nav-wrapper {
    z-index: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 15vw;
    background-color: $variation;
    box-shadow: 0 0 1px 1px $variation;
    margin: 0;
}
:host(.side-nav-wrapper) {
    display: block;
}
.side-nav {
    @include flex(column, 15px);
    padding: 0 10px 0 10px;
}
.side-nav h1 {
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
}
.side-nav .nav-element {
    @include nav-element($main-color, inherit);
}
.side-nav .nav-element h3 {
    display: inline-block;
}
.side-nav .nav-element:hover {
    @include nav-element-hover($pop-color);
}